$cylon_red : rgb(158, 0, 0);

.container {
   margin: -15px auto 3px auto;
   width: 100%;
   max-width: 1024px;
   text-align: center;
   border: 1px solid #2a2a2a;
   padding: 20px 10px 20px;
   border-radius: 10px;
}
.header {
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: center;
   align-items: center;
   h1 {
      position: relative;
      top: 3px;
      background-color: #353535;
      padding: 5px;
      font-size: 16px;
      text-transform: uppercase;
      color: white;
      cursor: pointer;
   }
}
.image {
   height: 45px;
   width: 45px;
   border-radius: 50%;
   background-color: #2a2a2a;
   margin-bottom: 10px;
   padding: 12px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #484848;

   &:hover {
      background-color: #2e2e2e;
      animation:  blink 0.2s ease-in-out 1;
   }
}

@keyframes blink {
   0%, 100% {
     background-color: #2a2a2a;
   }
   30% {
     background-color: #2e2e2e; 
   }
}

.card {
   a {
      display: flex;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 13px;
   }
   button {
      font-size: 13px;
   }
   .disabled {
      display: flex;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 13px;
      .image {
         &:hover {
            background-color: $cylon_red;
            animation: fadeIn 0.15s ease-out 1;
            cursor: pointer;
         }
      }
      img {
         border: 2px solid $cylon_red;
      }
      
   }
}

@keyframes fadeIn {
   0% {
     background-color: #2a2a2a;
   }
   100% {
     background-color: $cylon_red; 
   }
}

.title {
   color: white;
}

.modal-content {
   text-align: center;
}

.modal-button {
   margin-top: 10px;
   background-color: #2a2a2a;
   padding: 10px 40px;
   border-radius: 20px;

   &:hover {      
      background-color: $cylon_red;
      animation: fadeIn 0.3s ease-out 1;
   }
}

.modal {
   h2 {
      color: #777777;
      padding: 36px;
      span {
         color: $cylon_red;
         font-weight: bold;
      }
   }
}

