.modal-content {
   display: flex;
   flex-direction: column;
   position: relative;
   height: 100%;
   padding-bottom: 65px;
}  

.form-component {
   display: flex;
   flex-direction: column;
   padding-bottom: 13px;
   color: black;
}

.modal-bottom {
   position: absolute;
   bottom: 0;
   right: 0;
   button {
      background-color: black;
      padding: 10px;
   }
}